# **Milestone 1 -  Okay-Guys : Olympic Games**

## Import Libraries

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns  

# Import matplotlib colors and ticker modules
import matplotlib.colors as mcolors  
import matplotlib.ticker as ticker  

from matplotlib.cm import ScalarMappable  

pd.options.mode.chained_assignment = None

## A. Data Loading, Preparation and Cleaning

In [24]:
# Define the directory
DATA_DIR = 'data/'

In [42]:
# Load the Olympics dataset 
host_cities = pd.read_csv(DATA_DIR + 'host_cities_lon_lat.csv')
host_cities

,City,Country,NOC,Summer,Winter,Year,Latitude,Longitude,x,y
0,Athens,Greece,GRE,I,NaN,1896,37.983333,23.733334,1111,257
1,Paris,France,FRA,II,NaN,1900,48.853410,2.348800,997,189
2,St. Louis,United States,USA,III,NaN,1904,38.627273,-90.197891,511,253
3,London,United Kingdom,GBR,IV,NaN,1908,51.508415,-0.125533,985,172
4,Stockholm,Sweden,SWE,V,NaN,1912,59.332577,18.064903,1068,125
5,Antwerp,Belgium,BEL,VII,NaN,1920,51.216667,4.416666,1007,174
6,Chamonix,France,FRA,NaN,I,1924,45.923700,6.869400,1021,207
7,Paris,France,FRA,VIII,NaN,1924,48.853410,2.348800,997,189
8,St. Moritz,Switzerland,SUI,NaN,II,1928,46.490800,9.835500,1035,203
9,Amsterdam,Netherlands,NED,IX,NaN,1928,52.307500,4.972222,1010,167
10,Lake Placid,United States,USA,NaN,III,1932,27.293100,-81.362846,540,326
11,Los Angeles,United States,USA,X,NaN,1932,34.052234,-118.243683,351,283
12,Garmisch-Partenkirchen,Nazi Germany,GER,NaN,IV,1936,47.492090,11.095760,1041,197
13,Berlin,Nazi Germany,GER,XI,NaN,1936,52.516667,13.400000,1051,166
14,St. Moritz,Switzerland,SUI,NaN,V,1948,46.490800,9.835500,1035,203
15,London,United Kingdom,GBR,XIV,NaN,1948,51.508415,-0.125533,985,172
16,Oslo,Norway,NOR,NaN,VI,1952,60.175556,24.934166,1099,120
17,Helsinki,Finland,FIN,XV,NaN,1952,60.169900,24.938400,1099,120
18,Cortina d'Ampezzo,Italy,ITA,NaN,VII,1956,46.540500,12.135700,1047,203
19,Melbourne,Australia,AUS,XVI,NaN,1956,-37.813997,144.963318,1751,744
20,Stockholm,Sweden,SWE,XVI,NaN,1956,59.332577,18.064903,1068,125
21,Squaw Valley,United States,USA,NaN,VIII,1960,39.196300,-120.233600,355,249
22,Rome,Italy,ITA,XVII,NaN,1960,41.900000,12.483334,1050,232
23,Innsbruck,Austria,AUT,NaN,IX,1964,47.266667,11.400000,1043,199
24,Tokyo,Japan,JPN,XVIII,NaN,1964,35.689527,139.691681,1730,272
25,Grenoble,France,FRA,NaN,X,1968,45.166667,5.716667,1015,212
26,Mexico City,Mexico,MEX,XIX,NaN,1968,19.434167,-99.138611,433,377
27,Sapporo,Japan,JPN,NaN,XI,1972,43.054722,141.353882,1712,225
28,Munich,West Germany,GER,XX,NaN,1972,48.135100,11.582000,1044,193
29,Innsbruck,Austria,AUT,NaN,XII,1976,47.266667,11.400000,1043,199
30,Montreal,Canada,CAN,XXI,NaN,1976,45.516779,-73.649178,613,210
31,Lake Placid,United States,USA,NaN,XIII,1980,27.293100,-81.362846,540,326
32,Moscow,Soviet Union,RUS,XXII,NaN,1980,55.752222,37.615555,1163,146
33,Sarajevo,Yugoslavia,RUS,NaN,XIV,1984,43.850000,18.383333,1080,220
34,Los Angeles,United States,USA,XXIII,NaN,1984,34.052234,-118.243683,351,283
35,Calgary,Canada,CAN,NaN,XV,1988,51.050112,-114.085289,429,175
36,Seoul,South Korea,KOR,XXIV,NaN,1988,37.566389,126.999725,1657,260
37,Albertville,France,FRA,NaN,XVI,1992,45.675500,6.392700,1018,209
38,Barcelona,Spain,ESP,XXV,NaN,1992,41.388787,2.158985,997,235
39,Lillehammer,Norway,NOR,NaN,XVII,1994,61.115300,10.466200,1033,114
40,Atlanta,United States,USA,XXVI,NaN,1996,33.748995,-84.387985,533,285
41,Nagano,Japan,JPN,NaN,XVIII,1998,36.650000,138.183334,1719,266
42,Sydney,Australia,AUS,XXVII,NaN,2000,-33.867850,151.207321,1798,719
43,Salt Lake City,United States,USA,NaN,XIX,2002,40.758701,-111.876183,404,239
44,Athens,Greece,GRE,XXVIII,NaN,2004,37.983333,23.733334,1111,257
45,Turin,Italy,ITA,NaN,XX,2006,45.070300,7.686900,1025,212
46,Beijing,China,CHN,XXIX,NaN,2008,39.907498,116.397224,1595,245
47,Vancouver,Canada,CAN,NaN,XXI,2010,49.249657,-123.119339,377,186
48,London,United Kingdom,GBR,XXX,NaN,2012,51.508415,-0.125533,985,172
49,Sochi,Russia,RUS,NaN,XXII,2014,43.600000,39.730278,1189,222
50,Rio de Janeiro,Brazil,BRA,XXXI,NaN,2016,-22.902778,-43.207501,747,648

In [41]:
from pyproj import Proj, transform

def mercator_projection(lon, lat):
    in_proj = Proj('epsg:4326')  # WGS84 Latitude/Longitude
    out_proj = Proj('ESRI:53030')  # Projection Robinson

    # Fonction pour convertir lat/long en x/y
    def project(lat, lon):
        x, y = transform(in_proj, out_proj, lon, lat)
        return x, y
# Example usage:
longitude = 12.0
latitude = 13.0
print(mercator_projection(longitude, latitude))

None